In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib as pt
import datetime as dt

In [6]:
qual = pd.read_csv("mill_river_data.csv", parse_dates=['Sample Date'])
flow = pd.read_csv("mill_river_flow.csv", parse_dates=['datetime'])

In [10]:
flow

,datetime,"Discharge, cubic feet per second (mean)","data-value (approved, provisional, estimated)"
0,2012-05-17,134.0,A
1,2012-05-18,85.9,A
2,2012-05-19,69.1,A
3,2012-05-20,59.5,A
4,2012-05-21,55.4,A
...,...,...,...
3323,2021-06-22,24.7,P
3324,2021-06-23,30.6,P
3325,2021-06-24,24.0,P
3326,2021-06-25,21.2,P
3327,2021-06-26,21.8,P

In [11]:
qual

    Sample Date                                 Status CFU/100ml Wet
0    2021-06-24               Yellow Clean for Boating     461.1   N
1    2021-06-17               Yellow Clean for Boating     275.5   N
2    2021-06-10  Red Not Clean for Boating or Swimming       727   Y
3    2021-06-03    Blue Clean for Boating and Swimming       158   N
4    2020-10-29               Yellow Clean for Boating     259.5   N
..          ...                                    ...       ...  ..
169  2012-06-28    Blue Clean for Boating and Swimming     131.4   N
170  2012-06-21    Blue Clean for Boating and Swimming     159.7   N
171  2012-06-14    Blue Clean for Boating and Swimming     193.5   Y
172  2012-06-07    Blue Clean for Boating and Swimming       172   Y
173  2012-05-31  Red Not Clean for Boating or Swimming       727   Y

[174 rows x 4 columns]

In [12]:
174*8

1392