# Mill River Discharge v. Water Quality Correlation 
## Goal:

- Determine correlation between (1) and (2) below:
    
   1)  water quality data collected by Connecticut River Conservancy from site Mill River, Northampton at Rope Swing off Smith College Path at coordinates (-72.650227, 42.317161)
    
    2) discharge data from USGS site '0117500 Mill River at Northampton, MA,' located 1.4 mi upstream from monitor site near the Clement Street Bridge.


## Method:
- First tested for Pearson R correlations between discharge data for: 
    - Day of measurement 
    - " " + 1 day prior
    - " " + 2 days prior
    - " " + 3 days prior 
- Then tested for Spearman R correlations between discharge data and quality rankings:
    1) 'Blue Clean for Boating and Swimming'
    2) 'Yellow Clean for Boating'
    3) 'Red Not Clean for Boating or Swimming'

## Results:

### Pearson R Correlation Results: 

|             |    3days |     2days |       1days |       0days|
--------------|---------|-----------|-------------|-----------
|pearson_corrs | 0.116268 | 0.153425  | 0.275235    | 0.27112     |
|p-vals        | 0.12767  | 0.0438721 | 0.000247389 | 0.000308573 |


### Spearman R Correlation Results:

| |3days |2days |1days |0days|
---------------|---------|----------|-----------|-----------
|spearman_corrs | 0.113745 | 0.156522  | 0.207701   | 0.223033   | 
|p-vals         | 0.136205 | 0.0397344 | 0.00610577 | 0.00318268 |

In [33]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sb
from scipy.stats.stats import pearsonr, spearmanr

### Cleaning data

In [34]:
flow = pd.read_csv("mill_river_flow.csv", parse_dates=['datetime'])
data = pd.read_csv("mrn9_data.csv", parse_dates = ['Sample Date'])

In [35]:
flow['Sample Date'] = flow['datetime'] 
flow['Discharge'] = flow['Discharge, cubic feet per second (mean)']

### Creating New Column in Data with Day and Previous 3 Days' Discharge

In [36]:
def threeflow(x):
    for i in flow.index: 
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=0):
            a = flow.loc[i, 'Discharge']
    for i in flow.index:     
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=1):
            b = flow.loc[i, 'Discharge'] 
    for i in flow.index:     
        if x.date() -  flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=2):
            c = flow.loc[i, 'Discharge'] 
    for i in flow.index:     
        if x.date() -  flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=3):
            d = flow.loc[i, 'Discharge']
    return a+b+c+d

In [37]:
data['3flows'] = data['Sample Date'].apply(lambda x: threeflow(x))

### Creating New Columns in Data, With Fewer Days in the Sum

In [45]:
def twoflow(x):
    for i in flow.index: 
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=0):
            a = flow.loc[i, 'Discharge']
    for i in flow.index:     
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=1):
            b = flow.loc[i, 'Discharge'] 
    for i in flow.index:     
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=2):
            c = flow.loc[i, 'Discharge'] 
    return a+b+c

In [46]:
data['2flows'] = data['Sample Date'].apply(lambda x: twoflow(x))
data

,Site ID,Sample Date,Wet Weather?,MPN/100mL Undiluted Sample,Flow %,CFS,Level,3flows,2flows
0,MRN9,2012-06-21,N,159.7,31%,40.20,Moderate,186.60,134.80
1,MRN9,2012-06-28,N,131.4,22%,27.90,Low,138.10,102.00
2,MRN9,2012-07-05,N,156.5,14%,19.10,Low,75.60,56.70
3,MRN9,2012-07-12,N,461.1,7%,11.70,Low,51.20,37.00
4,MRN9,2012-07-19,N,365.4,4%,8.99,Low,42.19,30.09
...,...,...,...,...,...,...,...,...,...
168,MRN9,2020-08-06,Y,344.8,15%,20.00,Low,88.20,73.00
169,MRN9,2020-08-20,Y,344.8,3%,8.05,Low,34.11,25.20
170,MRN9,2020-09-03,Y,4839.2,19%,24.90,Low,55.95,44.35
171,MRN9,2020-10-01,Y,4839.2,29%,37.10,Moderate,146.98,138.85
172,MRN9,2021-06-10,Y,727.0,32%,41.80,Moderate,188.20,147.50

In [48]:
def oneflows(x):
    for i in flow.index: 
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=0):
            a = flow.loc[i, 'Discharge']
    for i in flow.index: 
        if x.date() - flow.loc[i, 'Sample Date'].date() == dt.timedelta(days=1): 
            b = flow.loc[i, 'Discharge']
    return a+b

In [49]:
data['1flows'] = data['Sample Date'].apply(lambda x: oneflows(x))
data

,Site ID,Sample Date,Wet Weather?,MPN/100mL Undiluted Sample,Flow %,CFS,Level,3flows,2flows,1flows
0,MRN9,2012-06-21,N,159.7,31%,40.20,Moderate,186.60,134.80,86.70
1,MRN9,2012-06-28,N,131.4,22%,27.90,Low,138.10,102.00,60.80
2,MRN9,2012-07-05,N,156.5,14%,19.10,Low,75.60,56.70,38.90
3,MRN9,2012-07-12,N,461.1,7%,11.70,Low,51.20,37.00,24.10
4,MRN9,2012-07-19,N,365.4,4%,8.99,Low,42.19,30.09,18.99
...,...,...,...,...,...,...,...,...,...,...
168,MRN9,2020-08-06,Y,344.8,15%,20.00,Low,88.20,73.00,56.70
169,MRN9,2020-08-20,Y,344.8,3%,8.05,Low,34.11,25.20,16.20
170,MRN9,2020-09-03,Y,4839.2,19%,24.90,Low,55.95,44.35,35.00
171,MRN9,2020-10-01,Y,4839.2,29%,37.10,Moderate,146.98,138.85,129.20
172,MRN9,2021-06-10,Y,727.0,32%,41.80,Moderate,188.20,147.50,96.30

### Testing Pearson Correlation Between Discharge of Day and previous 3 Days vs.  Bacteria Counts

(1.0, 0.0)

In [50]:
pearsonr(data['MPN/100mL Undiluted Sample'], data['3flows'])[0]

0.11626818865605132

In [90]:
pearson_corrs = {
    'pearson_corrs': [pearsonr(data['MPN/100mL Undiluted Sample'], data['3flows'])[0], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['2flows'])[0], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['1flows'])[0], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['CFS'])[0]], 
    'p-vals': [pearsonr(data['MPN/100mL Undiluted Sample'], data['3flows'])[1], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['2flows'])[1], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['1flows'])[1], 
              pearsonr(data['MPN/100mL Undiluted Sample'], data['CFS'])[1]] 
    
}
df_pearson_corrs = pd.DataFrame.from_dict(pearson_corrs, orient='index', columns= ['3days', '2days','1days','0days'])
df_pearson_corrs

                  3days     2days     1days     0days
pearson_corrs  0.116268  0.153425  0.275235  0.271120
p-vals         0.127670  0.043872  0.000247  0.000309

### Testing Spearman Correlation Between Discharge of Day and preivous 3 Days vs. Water Quality Levels

#### 1) Import quality data

In [69]:
qual = pd.read_csv("mill_river_data.csv", parse_dates=['Sample Date'])
qual

    Sample Date                                 Status CFU/100ml Wet
0    2021-06-24               Yellow Clean for Boating     461.1   N
1    2021-06-17               Yellow Clean for Boating     275.5   N
2    2021-06-10  Red Not Clean for Boating or Swimming       727   Y
3    2021-06-03    Blue Clean for Boating and Swimming       158   N
4    2020-10-29               Yellow Clean for Boating     259.5   N
..          ...                                    ...       ...  ..
169  2012-06-28    Blue Clean for Boating and Swimming     131.4   N
170  2012-06-21    Blue Clean for Boating and Swimming     159.7   N
171  2012-06-14    Blue Clean for Boating and Swimming     193.5   Y
172  2012-06-07    Blue Clean for Boating and Swimming       172   Y
173  2012-05-31  Red Not Clean for Boating or Swimming       727   Y

[174 rows x 4 columns]

#### 2) Create `addqual(x)` function to rank quality data

In [71]:
def addqual(x):
    for i in qual.index: 
        if x.date() - qual.loc[i, 'Sample Date'].date() == dt.timedelta(days=0):
            if qual.loc[i, 'Status'] == 'Blue Clean for Boating and Swimming':
                return 1
            elif qual.loc[i, 'Status'] == 'Yellow Clean for Boating':
                return 2
            elif qual.loc[i, 'Status'] == 'Red Not Clean for Boating or Swimming':
                return 3

#### 3)  Apply the `addqual(x)`  function to data to create a new 'qual' column

In [72]:
data['qual'] = data['Sample Date'].apply(lambda x: addqual(x))
data

,Site ID,Sample Date,Wet Weather?,MPN/100mL Undiluted Sample,Flow %,CFS,Level,3flows,2flows,1flows,qual
0,MRN9,2012-06-21,N,159.7,31%,40.20,Moderate,186.60,134.80,86.70,1
1,MRN9,2012-06-28,N,131.4,22%,27.90,Low,138.10,102.00,60.80,1
2,MRN9,2012-07-05,N,156.5,14%,19.10,Low,75.60,56.70,38.90,1
3,MRN9,2012-07-12,N,461.1,7%,11.70,Low,51.20,37.00,24.10,2
4,MRN9,2012-07-19,N,365.4,4%,8.99,Low,42.19,30.09,18.99,2
...,...,...,...,...,...,...,...,...,...,...,...
168,MRN9,2020-08-06,Y,344.8,15%,20.00,Low,88.20,73.00,56.70,2
169,MRN9,2020-08-20,Y,344.8,3%,8.05,Low,34.11,25.20,16.20,2
170,MRN9,2020-09-03,Y,4839.2,19%,24.90,Low,55.95,44.35,35.00,3
171,MRN9,2020-10-01,Y,4839.2,29%,37.10,Moderate,146.98,138.85,129.20,3
172,MRN9,2021-06-10,Y,727.0,32%,41.80,Moderate,188.20,147.50,96.30,3

#### 4) Create a data frame with Spearman R's for various days

In [78]:
spearman_corrs = {
    'spearman_corrs': [spearmanr(data['MPN/100mL Undiluted Sample'], data['3flows'])[0], 
              spearmanr(data['MPN/100mL Undiluted Sample'], data['2flows'])[0], 
             spearmanr(data['MPN/100mL Undiluted Sample'], data['1flows'])[0], 
              spearmanr(data['MPN/100mL Undiluted Sample'], data['CFS'])[0]], 
    'p-vals': [spearmanr(data['MPN/100mL Undiluted Sample'], data['3flows'])[1], 
             spearmanr(data['MPN/100mL Undiluted Sample'], data['2flows'])[1], 
              spearmanr(data['MPN/100mL Undiluted Sample'], data['1flows'])[1], 
              spearmanr(data['MPN/100mL Undiluted Sample'], data['CFS'])[1]] 
    
}
df_spearman_corrs = pd.DataFrame.from_dict(spearman_corrs, orient='index', columns= ['3days', '2days','1days','0days'])
df_spearman_corrs

                   3days     2days     1days     0days
spearman_corrs  0.113745  0.156522  0.207701  0.223033
p-vals          0.136205  0.039734  0.006106  0.003183

In [89]:
df_spearman_corrs.to_markdown(index='stat', tablefmt="grid")

'+----------+-----------+------------+------------+\n|    3days |     2days |      1days |      0days |\n+==========+===========+============+============+\n| 0.113745 | 0.156522  | 0.207701   | 0.223033   |\n+----------+-----------+------------+------------+\n| 0.136205 | 0.0397344 | 0.00610577 | 0.00318268 |\n+----------+-----------+------------+------------+'

In [91]:
df_pearson_corrs.to_markdown()

'|               |    3days |     2days |       1days |       0days |\n|:--------------|---------:|----------:|------------:|------------:|\n| pearson_corrs | 0.116268 | 0.153425  | 0.275235    | 0.27112     |\n| p-vals        | 0.12767  | 0.0438721 | 0.000247389 | 0.000308573 |'